<div class="instructions">
  <h1>HOW TO USE</h1>
  <ol>
    <li>Find the ID of the entry you want to edit. All IDs can be found at the end of the URL for that particular tournament, placing, match, or player.</li>
    <li>Choose which database table you are updating.</li>
    <li><b>Input the ID of the entry you want to edit and <u>click out</u> of the field.</b> This will automatically populate each field with the information within the database.</li>
    <li>Fill in the corrected information and hit the "Submit" button.</li>
  </ol>
</div>

<div class="update-query">
  <p>Updating...
    <select id="table-query">
      <option value="">pick field</option>
      <option value="Player">Player</option>
      <option value="Match">Match</option>
      <option value="EventEntrant">Placing</option>
      <option value="Tournament">Tournament</option>
    </select>
</div>

<div class="table-grid-container">
  <div class="table-form-container">
    <form class="table-form">
    </form>
  </div>

  <div class="table-column_container">
    <ul class="column-list">
    </ul>
  </div>
</div>
