<h1>New Tournament</h1>

<% if @error %>
<p><%= @error %></p>
<% end %>

<form id="new-tournament" method="post", action="/tournaments">
  <input type="text" name="tournament[link]" placeholder="Smash.gg Link" value="<%= @link %>"><br>
  <input type="submit" value="Submit">
</form>
